apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: chess-app
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/vigneshwar221B/chess-analysis-kit.git
    targetRevision: main
    path: k8s/chess-app-helm-chart
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
