apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: fluent-bit
  namespace: argocd
spec:
  project: default
  sources:
    - repoURL: https://fluent.github.io/helm-charts
      chart: fluent-bit
      targetRevision: 0.*
      helm:
        valueFiles:
          - $values/k8s/fluent-bit-values.yaml
        valuesObject:
          serviceAccount:
            create: true
            name: fluent-bit
            annotations:
              eks.amazonaws.com/role-arn: "{{FLUENT_BIT_ROLE_ARN}}"
    - repoURL: https://github.com/vigneshwar221B/chess-analysis-kit.git
      targetRevision: main
      ref: values
  destination:
    server: https://kubernetes.default.svc
    namespace: logging
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
