backend:
  image: chess-backend
  tag: latest
  replicas: 1
  port: 5001
  service:
    type: NodePort
    nodePort: 30501
  env:
    stockfishPath: /usr/games/stockfish
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 512Mi
  autoscaling:
    enabled: true
    minReplicas: 1
    maxReplicas: 5
    targetCPUUtilizationPercentage: 60

frontend:
  image: chess-frontend
  tag: latest
  replicas: 1
  port: 80
  service:
    type: NodePort
    nodePort: 30080
