backend:
  image: 428234938418.dkr.ecr.us-east-1.amazonaws.com/chess-analysis-kit-backend
  tag: c342a1e
  replicas: 1
  port: 5001
  imagePullPolicy: IfNotPresent
  service:
    type: NodePort
    nodePort: 30501
  env:
    stockfishPath: /usr/games/stockfish
  resources:
    requests:
      cpu: 500m
      memory: 256Mi
    limits:
      cpu: "2"
      memory: 512Mi
  autoscaling:
    enabled: true
    minReplicas: 1
    maxReplicas: 5
    targetCPUUtilizationPercentage: 60
  # ALB target group ARN (set by CI/CD from SSM)
  targetGroupArn: "arn:aws:elasticloadbalancing:us-east-1:428234938418:targetgroup/chess-analysis-kit-backend/79f32378b920e95f"
  # IRSA role ARN for backend pods (set by Terraform on AWS)
  serviceAccount:
    create: true
    irsaRoleArn: ""
